.header__title {
    position: relative;
    margin: 0 0 0 64px;
    z-index: 2;
    display: flex;
    align-self: center;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
  }